/* < index -->   */

.container nav {
  background-color: rgb(255, 255, 255);
  border-bottom: rgb(0, 0, 0) solid 1px;
}

.redes {
  padding: 1rem;
}

.redess {
  justify-content: center;
  align-items: center;
  display: flex;
}

.financiacion {
  background-color: rgb(252, 240, 226);
}

.item {
  list-style: none;
}

.ul-footer li a {
  text-decoration: none;
}

.ul-footer li {
  list-style: none;
}

.link-footer ul {
  padding-top: 1rem;
}

.container--texto {
  background-color: rgb(226, 222, 216);
 
}

.footer__chapero {
  padding-top: 1rem;
}

.cards-body a:hover {
  background-color: rgb(44, 235, 44);
  color: black;
}

.suscribirse button:hover {
  background-color: rgb(44, 235, 44);
  color: black;
}

.preguntas {
  transition: 0.5s;
}

.preguntas:hover {
  color: blue;
  transform: translate(5px, 5px);
}

.cards-body div {
  transition: 1s;
}

.cards-body div:hover {
  transform: scale(1.5, 1.5);
}

/* < Productos  -->   */

.container--productos {
  background: linear-gradient(rgb(21, 21, 21), rgb(74, 64, 64));
}

.img-productos {
  transition: 1s;
}

.img-productos:hover {
  transform: scale(1.1, 1.1);
}

/* < nosotros  -->   */
.somos:hover {
  color: blue;
}

/* < contactanos  -->   */
.page-subheading {
  transition: 2s;

}

.page-subheading:hover {
    transform: scale(1.5 , 1.5);
  color: blue;
}

/* .login {
  height: 500px;
} */

.texto__login:hover {
  color: rgb(72, 50, 241);
}


.btn__login button:hover {
  background-color: rgb(44, 235, 44);
  color: black;
}

.forgot-password a {
  text-decoration: none;
}

.no-account a {
  text-decoration: none;
}