.ul-footer li {
    list-style: none;

    a {
        text-decoration: none;
    }
  }
  
  .link-footer ul {
    padding-top: 1rem;
  }

  .footer__chapero {
    padding-top: 1rem;
  }

  .redes {
    padding: 1rem;
  }
  
  .redess {
    justify-content: center;
    align-items: center;
    display: flex;
  }