.financiacion {
    background-color: rgb(252, 240, 226);
  }
  

  .container--texto {
    background-color: rgb(226, 222, 216);
   
  }
  
  .cards-body a:hover {
    background-color: $background-botton;
    color: black;
  }
  
  .preguntas {
    transition: 0.5s;
  }
  
  .preguntas:hover {
    color: $primary-color;
    transform: translate(5px, 5px);
  }
  
  .cards-body div {
     transition: 1s;

    &:hover {
     transform: scale(1.5, 1.5);
    }
  }
  