.btn__login button:hover {
    background-color: $background-botton;
    color: black;
  }

  .forgot-password a {
    text-decoration: none;
  }
  
  .no-account a {
    text-decoration: none;
  }

  
  .texto__login:hover {
    color:$primary-color;
  }